<%= content_for :title, "Regels van #{@page.title}" %>

<% breadcrumb :lines, @lines %>

<p id="notice"><%= notice %></p>

<h1>Regels van <%= @page.title %></h1>

<table>
  <thead>
    <tr>
      <th>Nummer</th>
      <th>Aantal Modulen</th>
      <th colspan="2">Hoogte</th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.number %></td>
        <td><%= link_to line.items.count, page_line_items_path(line.page, line) %></td>
        <td><%= line.height %> mm</td>
        <td>
          <%= link_to page_lines_path(line) do %><i class="fi-eye"></i><% end %>
          <%= link_to edit_page_line_path(line.page, line) do %><i class="fi-pencil"></i><% end %>
          <%= link_to page_line_path(line.page, line), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fi-trash"></i><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nieuwe Regel', new_page_line_path, class: 'button' %>
