<% breadcrumb :pages, @pages %>



<h1>Paginas</h1>

<table>
  <thead>
    <tr>
      <th>Project nummer</th>
      <th>Naam</th>
      <th>Formaat</th>
      <th>Layout</th>
      <th colspan="2">Regels</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.project_number %></td>
        <td><%= page.title %></td>
        <td><%= page.size %></td>
        <td><%= page.layout %></td>
        <td><%= link_to page.lines.count, page_lines_path(page) %></td>
        <td>

          <%= link_to page do %><i class="fi-eye"></i><% end %>
          <%= link_to edit_page_path(page) do %><i class="fi-pencil"></i><% end %>
          <%= link_to page, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fi-trash"></i><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nieuwe pagina', new_page_path, class: 'button round' %>
