<% breadcrumb :items, @items %>

<h1>Modulen</h1>

<table>
  <thead>
    <tr>
      <th>Nummer:</th>
      <th>Naam:</th>
      <th>Aantal Modulen:</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.number %></td>
        <td><%= item.title %></td>
        <td><%= item.modulen %></td>
        <td>
          <%= link_to page_line_item_path(item.line.page,item.line,item) do %><i class="fi-eye"></i><% end %>
          <%= link_to edit_page_line_item_path(item.line.page,item.line,item) do %><i class="fi-pencil"></i><% end %>
          <%= link_to page_line_item_path(item.line.page,item.line,item), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fi-trash"></i><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nieuwe module', new_page_line_item_path, class: 'button' %>
